# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment / virtualenv
venv/
ENV/
env/
.venv/

# IDE / Editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# FastAPI / temporary files
*.db
*.sqlite
*.bak
